<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <appSettings>
     <!--AMS Access Token -->
    <add key="Token" value="b406564f-44aa-4e51-a80a-aa9ed9a04ec6" />

    <!-- The base URL for the AMS Rest API server for the Towing interface. The complete URI is constructed in code using derived parameters-->
    <add key="BaseURI" value="http://localhost/SITAAMSIntegrationService/v2/SITAAMSIntegrationService" />

    <!-- MSMQ queue to listen to for flight update notifications-->
    <add key="NotificationQueue" value=".\private$\ptm" />

    <!-- Time in milliseconds to try to connect to the AMS Rest API Server if it is not available -->
    <add key ="ResetServerRetryInterval" value="5000"/>

    <!-- Enables Deep Tracing. !!!! Not for Produciton Use -->
    <add key ="DeepTrace" value ="False"/>


    <add key ="PROCESS_ADDS" value ="False"/>
    <add key ="PROCESS_UPDATES" value ="False"/>
    <add key ="PROCESS_DELETES" value ="True"/>
    
  </appSettings>

</configuration>
