<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- //Release Candidate 2.0 -->

  <targets>
    <target name="logfile" xsi:type="File" layout="[${longdate}][${level}]  ${message}" fileName="${basedir}/logs/PTMWidget.log" 
            archiveFileName="${basedir}/logs/archives/log.{#####}.txt"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2"/>
    <target name="logconsole" xsi:type="Console" layout="[${longdate}][${level}]  ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="logconsole" />
    <logger name="*" minlevel="Error" writeTo="logfile" />
  </rules>
</nlog>
